.navigation {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.navigation a span{
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.08em;
}

.navigation a{
    position: relative;
    color: var(--text-normal);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.12em;
    font-size: 20px;
    font-weight: 50;
    transition: .25s;
}

/*text färbt sich*/
.navigation a:hover{
    color: var(--laser);
}

/*unterstrich*/
.navigation a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: var(--laser);
    transition: width .25s ease;
}

/*laserpunkt*/
.navigation a::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 
            0 0 8px white
            0 0 15px var(--laser)
            0 0 25px var(--laser);
    left: -8px;
    bottom: -11px;
    opacity: 0;
}

/*hover*/
.navigation a:hover::before{
    width: 100%;;
}

.navigation a:hover::after{
    opacity: 1;
    animation: laser .25s linear forwards;
}

@keyframes laser{
    from{
        left: -8px;
    }
    to{
        left: 100%;
    }
}